.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("../images/loginbg.jpg");
    width:100vw;
    background-size: cover;
     /* box-shadow: 0 0 10px 10px black; */
  }
  
  .auth-box {
    display: flex;
    max-width: 850px;
    width: 100%;
    background:none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .auth-left {
    background:none;
    color: white;
    padding: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .auth-right {
    padding: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: rgb(37, 36, 36);
    color:white;

  }
  
  .auth-right h2 {
    margin-bottom: 20px;
  }
  
  .auth-right input {
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #ddd;
    background: none;
    font-size: 16px;
    color:white;
  }
  .auth-right ::placeholder{
    color:white;
  }
  .auth-right select {
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    border-radius: 28px;
   border: 1px solid #ddd;
   background: none;
    font-size: 16px;
  }
  
  .btn1{
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  .btn1:hover{
    background-color: rgb(36, 35, 35);
    color:white;
  }
  
  .social-login {
    margin-top: 20px;
    text-align: center;
  }
  
  .social-icons i {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .switch-btn {
    background-color: transparent;
    border: 2px solid white;
  }
  .auth-box-signup{
    height:76vh;
  }
  p:hover{cursor:pointer;
  }