.foot{
    /* border-top:2px solid rgb(124, 122, 122); */
    background-color: rgb(255, 255, 255); 
    padding:2px;
    color:rgb(0, 0, 0);
}
.email-input {
    padding: 1px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
  }
  
  .send-button {
    
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #075595;
    color: white;
    cursor: pointer;
  }
  .social-icons i:hover{
color:red;
  }
 .container p .link-hover:hover {
    color: blue !important; ; /* Change this to your preferred hover color */
}

