.foot{
    border-top:2px solid rgb(124, 122, 122);
    background-color: black;
    color:white;
}
.email-input {
    padding: 1px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
  }
  
  .send-button {
    
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #075595;
    color: white;
    cursor: pointer;
  }
  .social-icons i:hover{
color:red;
  }
